.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 100vh;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 0.3s;
	background-color: rgba(27, 24, 24, 1);
	overflow: hidden;
	z-index: 90000;
	.menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding: 20px 0 0 0;
		// background-color: red;
		.menu__item {
			width: 80%;
			text-align: center;
			list-style: none;
			padding-bottom: 10px;
			border-bottom: 2px solid black;
			margin-bottom: 15px;
			cursor: pointer;
			a {
				color: white;
				text-decoration: none;
				font-size: 20px;

			}
		}
		.menu__item:hover a {
			color: rgb(69, 227, 139);

		}
	}
}
.nav--show {
	opacity: 1;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.nav {
		position: static;
		height: auto;
		width: 50%;
		opacity: 1;
		background-color: transparent;
		border: none;
		.menu {
			flex-direction: row;
			padding: 0;
			.menu__item {
				border: none;
				margin: 0;
				padding: 0;
				a {
					font-weight: 700;
				}
			}

		}
	}
}
