@import "normalize.scss";
@import "variables.scss";
.container {
	margin: 0 auto;
	font-family: "Arial";
	@import "header.scss";
	@import "main.scss";
	@import "footer.scss";
}

.hide {
	display: none;
}

